  body{background-color: black; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px; }
        h1{color: gray; background-color: beige;}
        h2{color: royalblue;}
        p{color: aliceblue;}